<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tactics RPG</title>
  <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
<body>
  
  <div class="game-container">
    <div class="ui">
      <div class="option"><h1>Move</h1></div>
      <div class="option"><h1>Attack</h1></div>
      <div class="option"><h1>Skill</h1></div>
      <div class="option"><h1>Magic</h1></div>
      <div class="option"><h1>Defend</h1></div>
      <div class="option"><h1>Item</h1></div>
    </div>

    <div class="grid-container">
      <% for (let i=0; i<144; i++) { %>
        <div class="tile"></div>
      <% } %>
    </div>
  </div>

  <script src="main.js" charset="utf-8"></script>
</body>
</html>